body {
  text-align: center;
}

.Box {
  border-radius: 10%;
  border: 1px solid black;
  box-shadow: 2px 2px 5px 2px gray;
  width: 200px;
  padding: 20px;
  margin: auto;
}

th,
td {
  border: 1px solid black;
  width: 100px;
  padding: 10px;
}

table {
  margin: auto;
  border-collapse: collapse;
}
