html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  font-style: italic;
  color: darkorange;
  background-image: linear-gradient(45deg, purple, black);
}

.Box {
  display: inline-block;
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
}


















