body {
  text-align: center;
}

.Box {
  margin: auto;
  padding: 20px;
  width: 250px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px 2px grey;
}

.totalPrice {
  font-size: larger;
  color: red;
}

table {
  margin: auto;
}
