<h1>My construction directive</h1>
<hr />
<!-- {{myTitle}} -->
<h2 *ngIf="showTitle" [ngStyle]="{color:'yellow'}">{{myTitle}}</h2>
<button class="btn btn-info" (click)="onBtnClick()">Show/Hide</button>
<h2 [ngStyle]="{color:h2Color}">Daniel is in the house.....</h2>
<button class="btn btn-danger" (click)="changeColorFunction()">change color</button>
<h1>{{myTime}}</h1>
<!-- <h3 [ngClass]="{red_box:true}">ng class test</h3> -->
<h3 [ngClass]="{red_box:changeColor,green_box:!changeColor}">ng class test</h3>
<h4 [ngClass]="myBoxes[myIndex]">class 92 - the best that lecturer can get</h4>
<button class="btn btn-warning" (click)="nextBox()">Next</button>