.MainLayout {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 15% 75% 10%;
  grid-template-columns: repeat(6, 1fr);
}

.MainLayout > header,
.MainLayout > footer {
  grid-column: span 6;
}

.MainLayout > main {
  grid-column: span 5;
}

.MainLayout,
.MainLayout > * {
  border: 1px solid white;
}
