<!-- <h1>{{title}}
    <hr />
</h1>
{{showLoved()}}
<hr />
<input [type]="myType" name="pass" id="id_pass" (input)="onPassUpdate($event)"/>
<hr/>
<app-add-song></app-add-song><br/>
<hr/>
<app-image></app-image> -->
<!--app-my-form></app-my-form-->
<!-- <app-targil></app-targil> -->
<!-- <app-my-directive></app-my-directive> -->
<!-- <app-loopi-loop></app-loopi-loop> -->
<!-- <app-my-hooks></app-my-hooks> -->
<!-- <div class="container">
    <h1>Welcome to Matan Fruit store...</h1>
    <app-input-user></app-input-user>
    <app-items-list></app-items-list>
</div> -->
<app-drinks></app-drinks>