body {
  text-align: center;
  background-color: #4158d0;
  background-image: linear-gradient(
    90deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.Box {
  border: solid 1px black;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 2px;
  padding: 20px;
  width: 200px;
  margin: auto;
}

input {
  padding: 10px;
}

table > tr:nth-child(odd) {
  background-color: aquamarine;
}
table > tr:nth-child(even) {
  background-color: bisque;
}
